body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #33658A;
  color: #FFFFFF;
}

.container {
  margin-top: 50px;
}

.countdown {
  font-size: 36px;
}

@media (max-width: 600px) {
  .countdown {
    font-size: 24px;
  }
}