/* CSS HEX */
.raisin-black {
    background-color: #1e1e24ff;
}

.penn-red{
    background-color: #92140cff;
} 
.floral-white{
    background-color: #fff8f0ff;
    
} 
.sunset{
    background-color: #ffcf99ff;
    
} 
.space-cadet{
    background-color: #111d4aff;
    
} 

.text-raisin-black {
    color: #1e1e24ff;
}

.text-penn-red{
    color: #92140cff;
} 
.text-floral-white{
    color: #fff8f0ff;
} 
.text-sunset{
    color: #ffcf99ff;
    
} 
.text-space-cadet{
    color: #111d4aff;  
} 

.text-floral-white:hover{
    color: #ffcf99ff;
}

.text-raisin-black:hover{
    color: #92140cff;
}