# Arquivos de log gerados por gerenciadores de pacotes
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Pasta de dependências. Essencial ignorar!
/node_modules

# Pasta de build. O deploy é feito pela Action.
/dist
/dist-ssr

# Arquivos de cache e de ambiente do Vite
.vite/
.vite-inspect/

# Arquivos de ambiente. NUNCA comitar segredos!
# Ignora todos os arquivos .env, mas permite um .env.example
.env
.env.*
!.env.example
!.env.example.*

# Arquivos de configuração de IDEs e editores
.idea/
.vscode/
*.swp

# Arquivos gerados pelo Sistema Operacional
.DS_Store
Thumbs.db

# Relatórios de cobertura de testes
/coverage
.nyc_output
